node_modules
package-lock.json
package.json
bun.lock
antigravity-accounts.json
antigravity-accounts.json.*.tmp
antigravity-signature-cache.json
antigravity-logs/

logs/
*.log
logs/**
.tmp
*.tmp
_pycache_/
.opencode
.vscode
.cache/
*.cache
